.jumbotron {
  background-color: #5B2C6F;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px; }

footer {
  background-color: #5B2C6F;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  height: 100px;
  padding-top: 40px; }
