$purple: #5B2C6F;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $purple;
	color: white;
	@include margenes(20px, 20px);
}

footer {
	background-color: $purple;
	@include margenes(20px, 20px);
	color: white;
	height: 100px;
	padding-top: 50px;
	}